::-webkit-scrollbar {
    width: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.options .fa-edit,
.options .fa-trash,
.options .fa-check,
.options .fa-eye {
    cursor: pointer;
}

.options .fa-edit {
    color: var(--warning);
}

.options .fa-trash {
    color: var(--danger);
    margin-left: 5px;
}

.options .fa-check {
    color: var(--success);
    margin-left: 5px;
}

.options .fa-eye {
    color: var(--blue);
    margin-right: 5px;
}