{% extends 'base.html' %}

{% load static %}


{% block title %}
    Articulos
{% endblock title %}

{% block vendorcss %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock vendorcss %}

{% block pagecss %}
    
{% endblock pagecss %}

{% block mainbody %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Articulos</h1>
                </div>                
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li><button id="btn-articulo-create" data-url={% url 'articulo-create' %} type="button" class="btn btn-primary btn-block"><i class="fas fa-plus"></i></button></li>                    
                    </ol>
                </div>
            </div>            
        </div><!-- /.container-fluid -->
    </section>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="datatable-articulo" class="table table-bordered table-hover display" data-url="{% url 'articulo-list' %}">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Unidad</th>
                                        <th>Numero Parte</th>
                                        <th></th>
                                </thead>                                            
                                <tfoot>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Unidad</th>
                                        <th>Numero Parte</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainbody %}

{% block vendorjs %}
    <!-- DataTables  & Plugins -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
{% endblock vendorjs %}

{% block pagejs %}
    <script src="{% static 'app/js/pages/articulo/index.js' %}"></script>
{% endblock pagejs%}